In [1]:
from pandas import read_csv

filename = 'dataset/cost_of_living.csv'
cost_of_living = read_csv(filename,index_)
cost_of_living.head()

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Argentina,1287.8540,1567.5980,1938.3650,1855.1085,2003.9330,2250.2455,2134.153345,2162.854675,1845.922275,1547.585985,1450.537395
1,Australia,2305.9525,3402.0115,3497.3400,3606.2805,3505.2375,3031.5370,3015.473135,3013.260195,3118.820875,3015.915325,3029.782315
2,Austria,2098.4985,2771.5665,2395.3730,2461.0660,2535.7345,2414.0015,2746.560665,2763.594395,2892.079440,2807.800890,2715.892825
3,Belgium,2467.6735,3089.2735,2618.6360,2795.8555,3031.6935,2755.3645,2950.407795,2784.550510,3012.334075,2876.052530,2974.076965
4,Bosnia And Herzegovina,1201.1620,1351.2165,1291.5925,1345.5085,1383.9850,1215.0130,1374.416230,1362.515830,1452.223765,1488.702065,1454.164550

In [2]:
from pandas import read_csv
filename = 'dataset//earnings_split.csv'
df_incomes = read_csv(filename)
df_incomes.head()

,Country,Field,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Armenia,A. Agriculture; forestry and fishing,188.86,188.18,208.17,224.69,240.18,180.14,159.63,195.87,192.78,210.22
1,Armenia,B. Mining and quarrying,580.43,638.04,642.48,773.98,795.76,353.03,322.89,348.52,384.98,430.47
2,Armenia,C. Manufacturing,268.97,272.61,276.22,332.28,343.75,212.04,215.81,220.56,219.63,235.63
3,Armenia,"D. Electricity; gas, steam and air conditionin...",400.84,408.57,383.22,472.16,541.54,244.74,235.88,267.28,233.56,265.93
4,Armenia,"E. Water supply; sewerage, waste management an...",268.06,301.18,276.06,340.92,368.02,185.43,174.76,210.34,207.37,213.12

In [3]:
from pandas import merge as pd_merge
df_incomes_with_avg = pd_merge(df_incomes,cost_of_living.drop("2020",axis=1), on=["Country"],how="inner",)
df_incomes_with_avg.head()

,Country,Field,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,...,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y
0,Austria,B. Mining and quarrying,4103.09,4928.91,4713.89,4957.86,4667.02,4328.21,4301.43,4853.11,...,2098.4985,2771.5665,2395.373,2461.066,2535.7345,2414.0015,2746.560665,2763.594395,2892.07944,2807.80089
1,Austria,C. Manufacturing,3653.68,4202.31,4000.83,4271.23,4063.88,3696.90,3770.11,3912.09,...,2098.4985,2771.5665,2395.373,2461.066,2535.7345,2414.0015,2746.560665,2763.594395,2892.07944,2807.80089
2,Austria,"D. Electricity; gas, steam and air conditionin...",5293.59,6326.44,6114.31,6386.92,5682.00,5489.87,5621.96,5781.71,...,2098.4985,2771.5665,2395.373,2461.066,2535.7345,2414.0015,2746.560665,2763.594395,2892.07944,2807.80089
3,Austria,"E. Water supply; sewerage, waste management an...",3218.84,3433.95,3269.79,3478.34,3683.93,3013.44,3067.23,3186.83,...,2098.4985,2771.5665,2395.373,2461.066,2535.7345,2414.0015,2746.560665,2763.594395,2892.07944,2807.80089
4,Austria,F. Construction,3232.10,3229.34,3038.53,3172.87,3718.47,2768.23,2821.50,2940.56,...,2098.4985,2771.5665,2395.373,2461.066,2535.7345,2414.0015,2746.560665,2763.594395,2892.07944,2807.80089

In [4]:
for x in range(2010,2020):
    df_incomes_with_avg[str(x)] = df_incomes_with_avg[str(x)+"_x"]/df_incomes_with_avg[str(x)+"_y"]
    del df_incomes_with_avg[str(x)+"_x"]
    del df_incomes_with_avg[str(x)+"_y"]
wealth_factor = df_incomes_with_avg    
wealth_factor.head()

,Country,Field,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Austria,B. Mining and quarrying,1.955250,1.778384,1.967915,2.014517,1.840500,1.792961,1.566115,1.756086,1.864077,1.859145
1,Austria,C. Manufacturing,1.741093,1.516222,1.670233,1.735520,1.602644,1.531441,1.372666,1.415580,1.459002,1.465229
2,Austria,"D. Electricity; gas, steam and air conditionin...",2.522561,2.282622,2.552550,2.595184,2.240771,2.274178,2.046909,2.092098,2.138482,2.124282
3,Austria,"E. Water supply; sewerage, waste management an...",1.533878,1.238992,1.365044,1.413347,1.452806,1.248317,1.116753,1.153147,1.192357,1.212850
4,Austria,F. Construction,1.540196,1.165168,1.268500,1.289226,1.466427,1.146739,1.027285,1.064035,1.096803,1.123142

In [5]:
wealth_factor.to_csv("dataset//wealth_factor.csv")